<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/q1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">spa</property>
    <property name="connection.password">qwer</property>
      <mapping class="db_model.DwdFedirector"/>
      <mapping class="db_model.DwdStoragegroup"/>
      <mapping class="db_model.DwdTimeNUtc"/>
      <mapping class="db_model.DwfFedirectorR"/>
      <mapping class="db_model.DwfStoragegroupR"/>
      <mapping class="db_model.DwfStoragegroupRP20160719"/>
      <mapping class="db_model.DwfStoragegroupRP20160720"/>
      <mapping class="db_model.DwfStoragegroupRP20160721"/>
      <mapping class="db_model.DwfStoragegroupRP20160722"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>